<mat-toolbar class="main-header" id="secondToolbar" [ngClass]="{ 'mat-elevation-z5': true, sticky: isSticky }">
    <mat-toolbar-row>
        <button style="color: #fff;" mat-icon-button fxShow="true" fxHide.gt-sm (click)="onRightPanelClick($event)">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40.54" height="45.86" viewBox="0 0 40.54 45.86">
                <g id="Group_41" data-name="Group 41" transform="translate(-216.85 -151.73)">
                    <path id="Path_95" data-name="Path 95" d="M32.39,9.43l.83-2.67L53.39,18.59l-2,25.84Z"
                        transform="translate(204 144.97)" fill="#1a9f68" />
                    <path id="Path_96" data-name="Path 96"
                        d="M41.89,38.59l4.17,7.33-13.5,7.67L11.06,41.42V25.09l2.65-1.42a3.2,3.2,0,0,0,1.69-2.82V15.43h3.88a2.685,2.685,0,0,0,1.91-.79l2.71-2.71h3.5l1.17,4.5L14.07,41.26l6.5.33.67-3.17,20.67.17Z"
                        transform="translate(205.79 144)" fill="aqua" />
                    <path id="Path_97" data-name="Path 97" d="M24.89,31.93l6.33-11,6.67,11.83h-13"
                        transform="translate(205 144)" fill="#fff" />
                </g>
            </svg>
        </div>
        <span class="menu-spacer"></span>
        <div class="menu" fxShow="true" fxHide.lt-md *ngFor="let menuItem of menu">

            <a *ngIf="menuItem.type === 'link'" [routerLink]="[menuItem.state]" routerLinkActive="active">
                {{ menuItem.name }}
            </a>


            <!-- <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/about" [routerLinkActive]="['active']">About</a>
            <a routerLink="/project" [routerLinkActive]="['active']">Project</a>
            <a routerLink="/experience" [routerLinkActive]="['active']">Experience</a>
            <a routerLink="/contact" [routerLinkActive]="['active']">Contact</a> -->
        </div>
    </mat-toolbar-row>




</mat-toolbar>



<div fxHide.gt-sm class="layout-wrapper" [ngClass]="{'layout-rightpanel-active': rightPanelActive}">

    <div class="layout-rightpanel" (click)="rightPanelClick = true">
        <div class="rightpanel-wrapper">
            <div class="rightpanel-section weather-section">
                <div fxLayout="row" class="section-header">
                    <button type="button" class="backButton" (click)="rightPanelActive = false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff">
                            <g id="MDI_arrow-left" data-name="MDI / arrow-left" opacity="1">
                                <g id="Boundary" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                                    <rect width="24" height="24" stroke="none" />
                                    <rect x="0.5" y="0.5" width="23" height="23" fill="none" />
                                </g>
                                <path id="Path_arrow-left" data-name="Path / arrow-left"
                                    d="M20,11v2H8l5.5,5.5-1.42,1.42L4.16,12l7.92-7.92L13.5,5.5,8,11Z"
                                    transform="translate(-0.16 -0.08)" />
                            </g>
                        </svg>
                    </button>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40.54" height="45.86" viewBox="0 0 40.54 45.86">
                            <g id="Group_41" data-name="Group 41" transform="translate(-216.85 -151.73)">
                                <path id="Path_95" data-name="Path 95" d="M32.39,9.43l.83-2.67L53.39,18.59l-2,25.84Z"
                                    transform="translate(204 144.97)" fill="#1a9f68" />
                                <path id="Path_96" data-name="Path 96"
                                    d="M41.89,38.59l4.17,7.33-13.5,7.67L11.06,41.42V25.09l2.65-1.42a3.2,3.2,0,0,0,1.69-2.82V15.43h3.88a2.685,2.685,0,0,0,1.91-.79l2.71-2.71h3.5l1.17,4.5L14.07,41.26l6.5.33.67-3.17,20.67.17Z"
                                    transform="translate(205.79 144)" fill="aqua" />
                                <path id="Path_97" data-name="Path 97" d="M24.89,31.93l6.33-11,6.67,11.83h-13"
                                    transform="translate(205 144)" fill="#fff" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="themeController-contant menu menu-active-mb">

                    <div *ngFor="let menuItem of menu">
                        <a *ngIf="menuItem.type === 'link'" [routerLink]="[menuItem.state]" routerLinkActive="active"
                            (click)="rightPanelActive = false">
                            {{ menuItem.name }}
                        </a>
                    </div>

                    <!-- <a routerLink="/home" routerLinkActive="active" (click)="rightPanelActive = false">Home</a>
                    <a routerLink="/about" [routerLinkActive]="['active']">About</a>
                    <a routerLink="/project" [routerLinkActive]="['active']">Project</a>
                    <a routerLink="/experience" [routerLinkActive]="['active']">Experience</a>
                    <a routerLink="/contact" [routerLinkActive]="['active']" (click)="rightPanelActive = false">Contact</a> -->
                </div>
            </div>
        </div>
    </div>
</div>