<div class="row m-0 home_main">
    <div class="col-lg-6 col-md-6 col-sm-6 left_main">
        <div>
           
            <div class="Morning_text">
                <p><span style="background-color: #1fddfa4f;padding: 5px 9px;border-radius: 2px;">Hi, <span class="wave" role="img" aria-labelledby="wave">👋🏻</span> {{greeting}} {{person}}</span></p>
            </div>
            <h2>I'm Antu Kumar</h2>
            <div id="typed-text"></div>

            <div>
                <a routerLink="/contact" mat-button class="home_btn send_email" title="Send Email" type="button">Connect Me</a>
                <a href="../../assets/Antu.pdf" download="Old-PMS_CostSheet.pdf" mat-button class="home_btn download" title="Download Resume" type="button">Download</a>
            </div>

          
        </div>
        
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="right">
            <img src="../../assets/images/web.png" alt="" class="img-fluid">
        </div>
    </div>

</div>